<div>
    <a href="" data-toggle="collapse" (click)="AfficherSideBar()"> <i class="fas fa-bars"  aria-hidden="true"></i></a>
    <i class="glyphicon glyphicon-search"></i>
    <hr>
  <nav class="navbar navbar-expand-sm bg-light">
   
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  </nav>
</div>